In [258]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [259]:
# drop all rows which have only NaN values, because they are useless

df2 = df.dropna(how='all')
df2

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [260]:
# drop duplicated entries which have same full_name, email, gender and age

df3 = df2.drop_duplicates(subset={'full_name', 'email', 'gender', 'age'}, keep='first', inplace=False)
df3

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [261]:
# remove all customer contacts without email address, because without postal address or phone number 
# there is no possibilty to contact them

df4 = df3.dropna(subset=['email'])
df4

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [262]:
# set NaN gender to 'not set' string, it's an default value for missing or non recorded values

df5 = df4
df5.gender = df5.gender.replace(np.nan, 'not set')
df5

/Users/mbirkhahn/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,not set,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [264]:
# reset old string to 0, because every customer has to be over 18 years old
# and set strings of age column to integers for better handling

df6 = df5
df6['age'] = df6['age'].replace('old', '0')
df6['age'] = df6['age'].astype('int')

# remove all rows with age under 18, because customers or newsletter subscribers under 18 years 
# are not relevant

df6 = df6[(df6[['age']] >= 18).all(axis=1)]
df6

/Users/mbirkhahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/mbirkhahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,not set,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [266]:
# set unique id for last entry, according to other entries
# set new index for all entries

df7 = df6
length_of_df = len(df7)
df7.index = range(length_of_df)
df7.iloc[9].id
df7.at[9, 'id'] = 21.0
df7

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
2,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,not set,77
3,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
4,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
5,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
6,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
7,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
8,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
9,21.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72